---
export interface Props {
    content: Array<{
        title: string;
        description: Array<{
            p1: string;
            p2: string;
        }>;
        subtitle: Array<{
            p1: string;
            p2: string;
        }>;
    }>;
}

const { content } = Astro.props;
---

<div id="tt-content-wrap" style="">

    <div
        id="page-header"
        class="ph-full ph-full-m ph-cap-xxxxlg ph-center ph-image-parallax ph-caption-parallax"
       
    >


        <div class="page-header-inner tt-wrap">
            <div class="ph-caption">
                <div
                    class="ph-caption-inner"
                   
                    style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px) scale(0.9995, 0.9995);"
                >
                    <h1 class="ph-caption-title">
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >{content[0].title}</span
                            ></span
                        >
                    </h1>
                    <div
                        class="ph-caption-description max-width-700"
                       
                    >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                            >
                                {content[0].subtitle.p1}
                            </span></span
                        >
                        <br />
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                            >
                                {content[0].subtitle.p2}
                            </span></span
                        >
                    </div>
                </div>
            </div>
        </div>

        <div
            class="page-header-inner ph-mask"
           
            style="--y: 98.6514%; --x: 50.6492%;"
        >
            <div class="ph-mask-inner tt-wrap">
                <div class="ph-caption">
                    <div
                        class="ph-caption-inner"
                       
                        style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px) scale(0.9995, 0.9995);"
                    >
                        <h1 class="ph-caption-title">
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >{content[0].title}</span
                                ></span
                            >
                        </h1>
                        <div
                            class="ph-caption-description max-width-700"
                           
                        >
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >{content[0].subtitle.p1}</span
                                ></span
                            >
                            <br />
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >{content[0].subtitle.p2}</span
                                ></span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="ph-social"
           
            style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
        >
            <ul>
                <li style="">
                    <div class="magnetic-wrap">
                        <a
                            href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                            class="tt-magnetic-item"
                            target="_blank"
                        aria-label="LinkedIn Tellurys"

                            rel="noopener"
                        >
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div
            class="tt-scroll-down"
           
            style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
        >
            <div class="magnetic-wrap">
                <a
                    href="#tt-page-content"
                    class="tt-scroll-down-inner tt-magnetic-item"
                    data-offset="0"
                    style=""
                >
                    <div class="tt-scrd-icon"></div>
                    <svg viewBox="0 0 500 500">
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle"></path>
                        </defs>
                        <text dy="30">
                            <textpath xlink:href="#textcircle"
                                >Défilez pour explorer - Défilez pour explorer -</textpath
                            >
                        </text>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div id="tt-page-content">
     
        <div class="tt-section padding-bottom-xlg-120">
            <div
                class="tt-section-inner tt-wrap max-width-1000" >
                <p>
                    {content[0].description.p1}
                </p>

                <p>
                    {content[0].description.p2}
                </p>
            </div>
        </div>
    </div>
</div>
